h1{
    background-color: blueviolet;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    justify-content: center;

}
body{
    background-color: violet;
}
img{
    width: 100%; 
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}